<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/canvas.css"/>
    <title>g46 canvas</title>
  </head>
  <body>
    <main>
      <h1>Hello World</h1>
      <div id="canvasFrame"></div>

      <div id="myModal" class="modal">
        <div id="modalCanvas"></div>
      </div>
    </main>
  <script src="canvas.js"></script>
  </body>
</html>
