<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="canvas.css"/>
    <title>g46 canvas</title>
  </head>
  <body>
    <main>
      <div id="canvas"></div>
    </main>
    <h1>hurray</h1>
    <h1>{{currentUser.name}}</h1>
    <h2>{{currentUser.pixel_count}}</h2>
  <script src="canvas.js"></script>
  </body>
</html>
