<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <title>g46 canvas</title>
    <link href="https://fonts.googleapis.com/css?family=Nova+Square|VT323" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/canvas.css"/>
  </head>
  <body>
    <main>
      <h1>Hello World</h1>
      <div id="canvasFrame"></div>

      <div id="myModal" class="modal">
        <div id="modalCanvas"></div>
      </div>
    </main>
    <h1>{{currentUser.name}}</h1>
    <h2>{{currentUser.pixel_count}} pixels</h2>

    <a href="/questions">questions</a>
    <script src="canvas.js"></script>
  </body>
</html>
