<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./stylesheets/canvas.css"/>
    <title>g46 canvas</title>
  </head>
  <body>
    <main>
      <h1>Hello World</h1>
      <div id="canvas"></div>
    </main>
<<<<<<< HEAD
=======
    <h1>hurray</h1>
    <h1>{{currentUser.name}}</h1>
>>>>>>> 1fb1f30fb0240cac033fe32568ea9740016f44c0
  <script src="canvas.js"></script>
  </body>
</html>
