<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PixelAid</title>
  </head>
  <body>
    <form class="sign-in-form" action="index.html" method="post">
    </form>
    <h1>Working</h1>
    <a href="/canvas">text</a>
  </body>
</html>
