<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PixelAid</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <form class="sign-in-form" action="/login" method="post">
      <input type="text" name="username" placeholder="Username">
      <input type="text" name="password" placeholder="Password">
      <input type="submit" name="" value="Log In">
    </form>
    <p>{{error}}</p>
    <a href="/signup"><button type="button">Sign Up</button></a>
    <h1>Working</h1>

    <h1>{{error}}</h1>
    <a href="/canvas">text</a>
    <a href="/questions">text</a>
  </body>
</html>
