<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Questions</title>
    <link rel="stylesheet" href="/questions.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <nav class="nav">
    <a href="/questions">Questions</a>         <a href="/canvas">PixelBoard</a>
    <a href="/kudos">Kudos</a>

  </nav>
  <body class="container">
    <h1></h1>
    <section class="giveKudo">
      <form action="/giveKudo" method="post">
        <div>
          <label for="to_user_id">Give Kudos To:</label>
          <input type="text" name="to_user_id" value="">
        </div>
        <div>
          <label for="body">Kudo Description</label>
          <input type="text" name="body" value="">
          <label for="from_user_id"></label>
          <input type="hidden" name="from_user_id" value="">
          <span>Give Kudo To:</span><select name="cars">
            <option value="user1">user1</option>
            <option value="user2">user2</option>
            <option value="user3">user3</option>
            <option value="user4">user4</option>
          </select>
        </div>
        <button>Give Kudo</button>
      </form>
    </section>
    <main>
      {{#each data}}
        <div class="questionOuterBox">
          <div class="col l9">
            <span class="title">
              <h2>{{this.body}}</h2>
              <h6>{{this.to_user_id}}</h6>
              <h6>{{this.from_user_id}}</h6>

            </span>
          </div>
        </div>
      {{/each}}
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <!-- this is the CDN for jQuery -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <!-- cdn for bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/main">

    </script>

    <!-- this is the link to my JS file for index.html -->
  </body>
</html>
