<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Questions</title>
    <link rel="stylesheet" href="/questions.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <nav class="nav">
    <a href="/questions">Questions</a>           <a href="/canvas">PixelBoard</a>
  </nav>
  <body class="container">
    <h1></h1>
    <section class="addQuestion">
      <form action="/add-questions" method="post">
        <div>
          <label for="title">Title</label>
          <input type="text" name="title" value="">
        </div>
        <div>
          <label for="body">Details</label>
          <input type="text" name="body" value="">
        </div>
        <button>Add Question</button>
      </form>
    </section>
    <main>
      {{#each data}}
        <div class="questionOuterBox">
          <div class="col l9">
            <span class="title">
              <h1>{{this.title}}</h1>
              <h4>{{this.body}}</h4>
            </span>
          </div>
          <div class="col l3">
            <a href="/delete/{{this.id}}"><button>Delete</button></a>
            <a href="/answer/{{id}}"><button>Answers</button></a>
          </div>
        </div>
      {{/each}}
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <!-- this is the CDN for jQuery -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <!-- cdn for bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/main">

    </script>

    <!-- this is the link to my JS file for index.html -->
  </body>
</html>
