<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Questions</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/index.css">
  </head>
  <nav class="nav z-depth-1">
    <div class="nav-wrapper">
      <a class="brand-logo"><img src="/reddit-logo.png" alt="" class="navLogo"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- <li><a href="/index">Page2</a></li> -->
        <!-- <li><a href="/incubate">Page3</a></li> -->
      </ul>
    </div>
  </nav>
  <body class="container">
    <h1></h1>
    <section class="submit-link">
      <form action="/add-questions" method="post">
        <div>
          <label for="title"><title>Home</title></label>
          <input type="text" name="title" value="">
        </div>
        <div>
          <label for="body">Details</label>
          <input type="text" name="body" value="">
        </div>
        <button>Add Questions</button>
      </form>
    </section>
    <main>


      {{#each data}}

        <div class="link row">
          <div class="col l3">
            <a href="/delete/{{this.id}}"><button>Delete</button></a>
            <a href="/answers/{{id}}"><button>Answers</button></a>
          </div>
          <div class="col l9">
            <span class="title">
              <h1>{{this.title}}</h1>
              <h4>{{this.body}}</h4>
            </span>
          </div>
        </div>

      {{/each}}
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <!-- this is the CDN for jQuery -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <!-- cdn for bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/main">

    </script>

    <!-- this is the link to my JS file for index.html -->
  </body>
</html>
