main {
  display:flex;
  flex-direction:column;
  align-items:center;
}

header {
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 30%;
  /*height: 100%;*/
  display: flex;
  align-items: center;
}

.header-logo img {
  width: 50%;
  height: 50%;
}

.nav-buttons {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-buttons button {
  border: none;
  background-color: red;
  color: white;
  font-size: 1.5em;
  font-family: 'VT323', sans-serif;
  margin: 0 11px;
}

.section {
  display:flex;
  flex-wrap:wrap;
  box-sizing: content-box;
  color:transparent;
}

.section:hover {
  opacity: .5;
  color:black;
}

.posP {
  position: absolute;
}

#canvasFrame {
  border:1px solid black;
  display:flex;
  flex-wrap:wrap;
  min-width: 640px;
  max-width: 640px;
  min-height: 384px;
  max-height: 384px;
  box-sizing: content-box;
}

.canvas-page-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.user-canvas-info {
  font-family: 'Nova Square', sans-serif;
}

.modal {
  display:none;
  position:fixed;
  z-index: 1;
  width:450px;
  height:450px;
  /*opacity: .5;*/
  background-color: rgb(152, 152, 152);

  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modalHeader, .modalFooter {
  width: 80%;
  display: flex;
  justify-content:space-between;
}

.modalMain {
  width:100%;
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

#modalCanvas {
  border:1px solid black;
  min-width:320px;
  max-width:320px;
  min-height:320px;
  max-height:320px;
  display:flex;
  flex-wrap:wrap;
}

.editPixel {
  width:20px;
  height:20px;
}

.editPixel:hover {
  opacity: .5;
  color:black;
}

#palette {
  border:1px solid black;
  width:32px;
  height:288px;
  display:flex;
  flex-wrap:wrap;
}

#colorDiv {
  border:1px solid black;
  width:32px;
  height:32px;
}

.colorpick {
  width: 45px;
  height:150px;
  display:flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color {
  width:32px;
  height:32px;
}

.color:hover {
  opacity: .5;
  color:black;
}

.modalBtn {
  width:75px;
  height:30px;
}
