body {
  font-family: "Nova Square", Helvetica, arial, freesans, clean, sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.question-container {
  width: 67%;
  display: flex;
  flex-direction: column;
}

.questionOuterBox {
  border: 1px solid black;
  width: 100%;
}

.addQuestion {
  width: 31%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  background-color: rgba(9, 9, 9, 0.7);
  color: white;
}

.addQuestion form {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  /*align-items: center;*/
}

.addQuestion input, .addQuestion label {
  width: 77%;
}

.button {
  background-color: white;
  border: 0px;
}

.row {
  border: .5px solid black;
}

.votes {
  padding-left: 1vw;
}

@media(min-width: 800) {

}

@media (min-width: 1000px) {


}
