html{
  font-family: "Nova Square", Helvetica, arial, freesans, clean, sans-serif;

}
nav{
  background-color: #CEE3F8;
}
.navLogo{
  width: 15%;
}
.brand-logo{
  padding-right: 20%
}
.button{
  background-color: white;
    border: 0px;
}
.row{
  border: .5px solid black;

}
.votes{
  padding-left: 1vw;
}

@media(min-width: 800) {
  .parallax {

  }
}

@media (min-width: 1000px) {
  .parallax {

  }

  .logo-container img {
    width: 50%;
  }

  .sign-in form {
    width: 30%;
    height: 100%;
  }

  .sign-in-form input {
    width: 70%;
    font-size: 1.5em;
    font-family: 'Nova Square', sans-serif;
    margin: 11px 0;
  }

  .questions-header {
    display: flex;
    flex-direction: row-reverse;
  }

  img {
    width: 20vw
  }
}
