body {
  padding: 50px;
  font: 14px "Nova Square", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.signup-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.signup-form form {
  display: flex;
  flex-direction: column;
  width: 37%;
}
